<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Stefan Prence. It uses data from tomorrow.io and geoapify.com.</p>
            <img class="portrait" src="/img/Bear_Banger.png" alt="">
        </div>
        {{>footer}}
    </body>
</html>